*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 
/* #topnav {
    width: 100%;
 
    position: fixed;
    top: 0;
    left: 0;
 
    background-color: Black;
 
    font-family: Arial, sans-serif;
    font-size: 15px;
 }
 
 .nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: White;
 
    text-align: center;
    line-height: 55px;
 
    text-decoration: none;
 }
 
 #logo {
    width: 120px;
 
    background-color: RoyalBlue;
 
    font-weight: bold;
 }
 
 #about {
    position: absolute;
    top: 0;
    right: 0;
 } */

 body {
    background-color: #222;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container .body {
    width: 100%;
    position: relative;
    height: 500px;
    top: 50px;
    padding: 100px;
}

.container .body h1  {
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .body .btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}

.container .body .btn a h2 {
    color: #fff;
    border: 1px solid #fff;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: .1s all linear;
}

.container .body .btn a h2:hover  {
    background-color: aqua;
}