*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #222;
    /* font-family: ; */
}


.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#topnav {
    width: 100%;
 
    position: fixed;
    top: 0;
    left: 0;
 
    background-color: Black;
 
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 2;
 }


 
.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: White;
    z-index: 2;
    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    
    text-decoration: none;
    /* text-transform: uppercase; */
 }


 #logo {
    width: 120px;
 
    background-color: RoyalBlue;
    
    font-weight: bold;
 }


 
#about {
    position: absolute;
    top: 0;
    right: 0;
 }


 .container .body-left{
    /* z-index; */
    color: white;
    width: 20%;
    height: 100%;
    background-color: #233;
}

.body-left h1 {
    color: #fff;
    z-index: 1 !important;
    position: absolute;
    top: 50px;
}

.body-left .a {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 100px;
    font-size: 20px;
}



.body-left .Css-home {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 130px;
    font-size: 20px;
}


.body-left .About-css {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 160px;
    font-size: 20px;
}


.body-left .Backgraund-family {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 190px;
    font-size: 20px;
}




.body-left .Linear-gradient{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 220px;
    font-size: 20px;
}


.body-left .Css-borders{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 250px;
    font-size: 20px;
}


.body-left .Css-map{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 280px;
    font-size: 20px;
}


.body-left .Css-wah{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 310px;
    font-size: 20px;
}


.body-left .Css-position{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 340px;
    font-size: 20px;
}



.body-left .Css-z-index{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 370px;
    font-size: 20px;
}

.body-left .Css-dg{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 400px;
    font-size: 20px;
}


.body-left .Css-df{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 430px;
    font-size: 20px;
}

.body-left .Css-important{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 460px;
    font-size: 20px;
}

.body-left .Css-pe{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 490px;
    font-size: 20px;
}

.body-left .Css-pc{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 520px;
    font-size: 20px;
}

.body-left .Css-opacity{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 550px;
    font-size: 20px;
}

.body-left .Css-shadow{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 580px;
    font-size: 20px;
}

.body-left .Css-form{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 610px;
    font-size: 20px;
}


.body-left .Css-colors{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 640px;
    font-size: 20px;
}

/* .container .navbar .ThreeLine a i { */
    /* position: relative; */
    /* left: 500px; */
/* } */

 /* .ContainerTwo {
    width: 80%;
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
    right: 30px;
} */

/* .ContainerTwo .body-left{
    z-index;
    color: white;
    width: 20%;
    height: 100%;
    background-color: #233;
} */

@media (min-width:0px) and (max-width: 902px){
    .container .navbar .nav  {
       /* overflow: hidden;  */
        /* opacity: 1; */
        display: none;
    }

}

@media (min-width:902px) and (max-width: 8000px) {
    #i{
        display: none;
            /* align-self: ; */
    }
}

@media (min-width:0px) and (max-width: 936px){
    .container .body-left a {
        font-size: 10px;
    }
}

@media (min-width:0px) and (max-width: 936px){
    .container .body-left h1 {
        font-size: 20px;
        position: relative;
        top: 70px;
        /* width: 1000px; */
    }
}
