*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #222;
}


.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

#topnav {
    width: 100%;
 
    position: fixed;
    top: 0;
    left: 0;
 
    background-color: Black;
 
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 2;
 }


 
.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: White;
    z-index: 2;
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */
    
    text-decoration: none;
    transition: all .1s linear ;

 }

.container .navbar  .nav-link:hover {
    background-color: aqua;
    transform: scale(1.2);
}

 #logo {
    width: 120px;
 
    background-color: blue;
    
    font-weight: bold;
 }


 
#about {
    position: absolute;
    top: 0;
    right: 0;
 }


 .container .body-left{
    /* z-index; */
    color: white;
    width: 20%;
    height: 100%;
    background-color: #233;
    border-bottom: 2px solid #000 ;
}

.body-left h1 {
    color: #fff;
    z-index: 1 !important;
    position: absolute;
    top: 50px;
}

.body-left a {
    transition: all .1s linear;
}

.body-left a:hover {
    transform: scale(1.04);
}



.body-left .a {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 100px;
    font-size: 20px;
}



.body-left .Css-home {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 130px;
    font-size: 20px;
}


.body-left .About-css {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 160px;
    font-size: 20px;
}


.body-left .Backgraund-family {
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 190px;
    font-size: 20px;
}




.body-left .Linear-gradient{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 220px;
    font-size: 20px;
}


.body-left .Css-borders{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 250px;
    font-size: 20px;
}


.body-left .Css-map{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 280px;
    font-size: 20px;
}


.body-left .Css-wah{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 310px;
    font-size: 20px;
}


.body-left .Css-position{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 340px;
    font-size: 20px;
}



.body-left .Css-z-index{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 370px;
    font-size: 20px;
}

.body-left .Css-dg{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 400px;
    font-size: 20px;
}


.body-left .Css-df{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 430px;
    font-size: 20px;
}

.body-left .Css-important{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 460px;
    font-size: 20px;
}

.body-left .Css-pe{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 490px;
    font-size: 20px;
}

.body-left .Css-pc{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 520px;
    font-size: 20px;
}

.body-left .Css-opacity{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 550px;
    font-size: 20px;
}

.body-left .Css-shadow{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 580px;
    font-size: 20px;
}

.body-left .Css-form{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 610px;
    font-size: 20px;
}


.body-left .Css-colors{
    color: #fff;
    position: absolute;
    z-index: 1 !important;
    top: 640px;
    font-size: 20px;
}

.container .body-right {
    width: 20%;
    height: 92%;
    /* align-items: flex-end; */
    background-color: #233;
    position: absolute;
    left: 1093px;
    bottom: 0px;
    top: 53px;
    /* right: -50px; */
    /* font-size: 10px; */
    overflow-x: hidden;
}


.container .body-right h1 {
    top: 20px;
    overflow-x: hidden;
    right: 0px;
    padding: 0;
    margin: 0;
    color: #fff;
    position: relative;
    font-size: 20px;
    left: 50px;
}

.container .body-right h3 a {
    position: relative;
    overflow-x: hidden;
    top: 23px;
    left: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50px;
    color: black;
    width: 200px;
    background-color: aquamarine;
    cursor: pointer;
    transition: all .1s linear;
}

.container .body-right h3 a:hover {
    transform: scale(1.2);
}

.container .body-right .h1 {
    overflow-x: hidden;
    position: relative;
    bottom: 200px;
    color: aqua;
}

.container .body-center {
    width: 61%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 272px;
    bottom: 0px;
    background: linear-gradient(to right, orangered, blue);
}

.container .body-center  h1 {
    color: #fff;
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 30px;
}

.container .body-center p {
    position: relative;
    top: 100px;
}

.container .body-center h2 {
    position: absolute;
    top: 550px;
    left: 50px;
    border: 3px solid #00ffff;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}

.container .body-center h2 a {
    color: aqua;
}

.container .body-left-two {
    color: #fff;
    z-index: 1 !important;
    background-color: #233;
    position: absolute;
    width: 20%;
    height: 100%;
    display: block;
}

.container .body-left-two a {
    color: #fff;
}

.container .body-left-two a:hover {
    transform: scale(1.2);
} 

.container .body-left-two #DOCTYPE-HTML {
    transition: .1s;
    position: absolute;
    top: 40px;
    font-size: 20px;
}

.container .body-left-two #DOCTYPE-HTML:hover {
    transform: scale(1.2);
}

.container .body-left-two #a {
    transition: .1s;
     position: absolute;
     top: 70px;
     /* left: 10px; */
     font-size: 20px;
}

.container .body-left-two #a:hover {
    transform: scale(1.2);
}

.container .body-left-two #br {
    transition: .1s;
    position: absolute;
    top: 100px;
    font-size: 20px;
    /* left: 10px; */
}

.container .body-left-two #br:hover {
    transform: scale(1.2);
}

.container .body-left-two #q {
    transition: .1s;
    position: absolute;
    top: 130px;
    /* left: 10px; */
    font-size: 20px;
}

.container .body-left-two #q:hover {
    transform: scale(1.2);
}

.container .body-left-two #cite {
    transition: .1s;
    position: absolute;
    top: 160px;
    /* left: 10px; */
    font-size: 20px;
}

.container.body-left-two #cite:hover {
    transform: scale(1.2);
}

.container .body-left-two #strong {
    transition: .1s;
    position: absolute;
    top: 190px;
    /* left: 10px; */
    font-size: 20px;
    right: 174px;
}

.container .body-left-two #i {
    transition: .1s;
    position: absolute;
    top: 220px;
    /* left: 10px; */
    font-size: 20px;
}