*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
}

body {
    background: linear-gradient(to bottom, red, green);
}

.conteiner {
    width: 100%;
    height: 100vh;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.buttons a h1 {
    border: 1px solid aqua;
    border-width: 1px;
    background: aqua;
    /* background-size: 10px; */
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    /* position: absolute; */
    /* top: 50px; */
    /* left: 20px; */
    height: 50px;
    border-radius: 50px ;
}